{% extends "layout.html" %}

{% block title %} Paint {% endblock %}

{% block css %} 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='paint.css')}}"></link> 
{% endblock %}

{% block content %}          
<div id="toolbar">
    <div id="clipboard">
        
    </div>
    <div id="image">
        
    </div>
    <div id="tools">
        
    </div>
    <div id="brushes">
        
    </div>
    <div id="shapes">
        <div style="
            background-color: rgba(18, 63, 224, 0.36);
            width: 18px;
            height: 18px;
            top: 8px;
            left: 6px;
            position: relative;
            border: 1px solid rgb(100,164,230);
        "></div>
    </div>
    <div id="size">
        
    </div>
    <div id="colors">
        
    </div>
</div>    
<div id="drawing">     

    <div>
        <canvas id="canvas" width="400px" height="400px"></canvas>
    </div> 
    <div id="properties">
        <div>
            Properties
        </div>
        <div>
            <span>Color: </span><input type="color" id="color_picker">
        </div>
        <div>
            <span>Brush: </span>
            <div id="brush">
                <div>
                    <input type="radio" value="circle" name="brush" id="circle" checked>
                    <label for="circle">Circle</label>
                </div>
                <div>   
                    <input type="radio" value="square" name="brush" id="square">
                    <label for="square">Square</label>   
                </div>
            </div>
        </div>
        <div>
            <span>Size: </span> <input type="number" id="brush_width" value=10>
        </div>
    </div>
</div>
{% endblock %}

{% block script %} 
    <script src="{{ url_for('static', filename='paint.js')}}"></script> 
{% endblock %}